.huddle-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgb(249, 184, 4);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5); 
    flex-shrink: 0;
}

.huddle-btn:hover {
    background-color: rgb(218, 162, 9);
}