.container {
    background-color: rgb(115, 147, 179, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
    padding-left: 3rem;
    border: 1px solid #211b1b;
    border-radius: 3px;
    
}

.dash {
    margin-left: auto !important; 
    /* flex-grow: 1; 
    display: flex;
    justify-content: flex-end; */
}

.logoImage {
    max-width: 40%;
    height: auto;
}

/* .spacer {
    flex-grow: 1;
} */