.pfView-container {
    /* padding: .3rem; */
    border-radius: 5px;
    border: 1px solid #211b1b;
}

.welcome-container {
    background-color: rgb(115, 147, 179, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

/* .my-huddles-btn {
    padding-right: 5px;
    color:blueviolet;
} */

.pf-h2 {
    text-align: center;
    flex: 1;
    
}

.huddle-container {
    background-color: rgb(115, 147, 179, 0.8);
    padding-left: 2rem;
    padding-bottom: 2rem;
    display: flex;
    /* border: 1px solid #211b1b; */
    
}

